@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	text-align: center;
	background-color: slategrey;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	font-size: 0;
	-webkit-transform: translate(-50%);
					transform: translate(-50%);
}

p {
	font-size: 14px;
	font-weight: 500;
	color: #eee;
	opacity: 0.3;
}

.letter {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #eee;
}
.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: slategrey;
}

.letter:nth-child(1):before {
  content: "6072534891";
  margin-top: -168px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 2.87s;
          animation-duration: 2.87s;
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(2):before {
  content: "6137890452";
  margin-top: -216px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 2.592s;
          animation-duration: 2.592s;
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(3):before {
  content: "0721954638";
  margin-top: -216px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 1.836s;
          animation-duration: 1.836s;
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(4):before {
  content: "9174028356";
  margin-top: -48px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter4 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(5):before {
  content: "7952016843";
  margin-top: -192px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 1.74222s;
          animation-duration: 1.74222s;
  -webkit-animation-delay: 0.51s;
          animation-delay: 0.51s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter5 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(6):before {
  content: "6723089415";
  margin-top: -144px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 1.54286s;
          animation-duration: 1.54286s;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter6 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(7):before {
  content: "9804127563";
  margin-top: -24px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 1.86s;
          animation-duration: 1.86s;
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter7 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(8):before {
  content: "7104935826";
  margin-top: 0px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter8 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(9):before {
  content: "3891024567";
  margin-top: -48px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 1.68s;
          animation-duration: 1.68s;
  -webkit-animation-delay: 0.37s;
          animation-delay: 0.37s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(10):before {
  content: "9687534120";
  margin-top: -216px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 0.252s;
          animation-duration: 0.252s;
  -webkit-animation-delay: 0.93s;
          animation-delay: 0.93s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter10 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(11):before {
  content: "1978243065";
  margin-top: -216px;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter11 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
